{% extends "dashboard.twig" %} {% block css %}
{{ parent() }}
<link rel="stylesheet" href="/EsBootCamp-Blog/public/assets/css/style.css" />

{% endblock %} 


{% block content %}

<h1>Create a New Article</h1>
<form method="POST" action="/EsBootCamp-Blog/dashboard/articles/store">
  <div class="form-group row">
    <label for="username" class="col-2 col-form-label">Title</label>
    <div class="col-10">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fa fa-user"></i>
          </div>
        </div>
        <input
          id="title"
          name="title"
          placeholder="Please enter the Article Title"
          type="text"
          required="required"
          class="form-control"
        />
        <div class="input-group-append">
          <div class="input-group-text">
            <i class="fa"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="name" class="col-2 col-form-label">Sub Title</label>
    <div class="col-10">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fa fa-user"></i>
          </div>
        </div>
        <input
          id="sub_title"
          name="sub_title"
          placeholder="Please Enter Sub Title"
          type="text"
          required="required"
          class="form-control"
        />
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="category" class="col-2 col-form-label">category</label> 
    <div class="col-8">
      <select id="category" name="category_id" class="custom-select">

        {% for category in categories %}
        <option value="{{category.category_id}}">{{category.name}}</option>
        {% endfor %}
       
      </select>
    </div>
  </div> 

  <div class="form-group row">
    <label for="body" class="col-2 col-form-label">Article Body</label>
    <div class="col-10">
      <textarea
        name="body"
        cols="100"
        rows="30"
        class="form-control"
        id="ckeditorbody"
      ></textarea>
    </div>
  </div>
  
  <div class="form-group row">
    <div class="offset-2 col-10">
      <button type="submit" class="btn btn-primary">Create Article</button>
    </div>
  </div>
</form>
{% endblock %}

{% block script %}
<script src="/EsBootCamp-Blog/public/assets/ckeditor/ckeditor.js"></script>
  <script>
    CKEDITOR.replace('ckeditorbody', {
      uiColor: '#7386D5'
    });
  </script>
{% endblock  %}