{% extends "dashboard.twig" %}

{% block css %}
{{ parent() }}
<link rel="stylesheet" href="../public/assets/css/style.css">

{% endblock %}

{% block content %}
    {{ parent() }}
    <h1> create</h1>
{% endblock %}